<div class="container">
  <div class="row">
    <div class="col-md-8 px-5 px-sm-0 mx-auto">
      <div class="mx-auto mt-1">
        <h2>
          <strong><%= @post.title %></strong>
          <strong  id="like_buttons_<%= @post.id %>"><%= render "likes/like", post: @post %></strong>
        </h2>
        <%= attachment_image_tag @post, :picture, class: "text-center", height: "50%", width: "100%" %>
        <p class="select">
         <%= link_to 'back', posts_path, class: "btn m-1" %>
          <% if @post.user == current_user %>
           <%= link_to 'edit', edit_post_path(@post), class: "btn m-1" %>
           <%= link_to 'delete', post_path(@post), method: :delete, class: "btn m-1" %>
          <% end %>
        </p>
        <p><%= safe_join(@post.cook.split("\n"),tag(:br)) %></p>
        <p><%= @post.user.name %></p>
        <p>コメント件数：<%= @post.post_comments.count %></p>
        <%= render 'post_comments', post: @post %>
      </div>
    </div>
  </div>
</div>